<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>284079649138-ke7r48mrls6kb14cdoc053tkmcsp6avd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.284079649138-ke7r48mrls6kb14cdoc053tkmcsp6avd</string>
	<key>API_KEY</key>
	<string>AIzaSyBVkbJaXRNTgnGCXZ25athzBf71zyVa6G8</string>
	<key>GCM_SENDER_ID</key>
	<string>284079649138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DucAnh.Store</string>
	<key>PROJECT_ID</key>
	<string>shoestore-67142</string>
	<key>STORAGE_BUCKET</key>
	<string>shoestore-67142.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:284079649138:ios:c7898f67535ee27e</string>
	<key>DATABASE_URL</key>
	<string>https://shoestore-67142.firebaseio.com</string>
</dict>
</plist>